@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

 nav {
    height: 80px;
    display: flex;
    background-color: rgba(115, 66, 214, 0.1)
 }

  img {
    width: 100%;
  }

p {
    line-height: 2;
  }
  
 a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
  margin: 32px;
}

.purple {
    color: #7342d6;
}
 
.logo {
    width: 160px;
}

 .nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
 }

 .nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342d6;
    font-weight: bold;
    padding: 8px;
 }

 .nav__link--primary:hover {
    text-decoration: none;
 }

 .nav__link:hover {
    text-decoration: underline;
 }

 .nav__link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
 }

 #landing {
    background-color: rgba(115, 66, 214, 0.1)
 }

header {
    padding: 40px 0;
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center; 
    padding-bottom: 0px; 
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper {
   padding: 20px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-cursor {
  cursor: not-allowed;
}

/*

HIGHLIGHTS SECTION

*/

#highlights {
  position: relative;
  background-color: white; 
  width: 100%;
}

.highlight__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap; 
}

.highlight {
  padding: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: calc(100% / 3);
}

.highlight__para {
  text-align: center;
  max-width: 280px;
}

.highlight__img {
  border: 2px solid #7342d65d;
  color: #7342d6;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;
}

.highlight__subtitle {
  font-size: 20px;
  margin-bottom: 16px;
}